<header class="slim">
	<h1>BrainStorm for Education</h1>
	<ul class="details">
		<li><em>role</em>Consulting and tutoring</li>
		<li><em>tools</em>Adobe Premiere, Adobe Photoshop</li>
	</ul>
</header>
<article>
	<p>I was an instructor for BrainStorm for Education’s 2011-2012 field course, The Systems that Feed Us. The project aimed to get students actively participating in their own education and working with local professionals. I worked with the students on video-editing, graphic design as well as providing technical consultation for the project.</p>
</article>