<header class="slim">
	<h1>BrainStorm for Education</h1>
	<ul class="details">
		<li><em>role</em>Tutoring and technical consultation</li>
		<li><em>tools</em>Adobe Premiere, Adobe Photoshop</li>
	</ul>
</header>
<article>
	<p>I tutored students for video editing and graphic design as a part of BrainStorm for Education's 2011-2012 field course, <a href="http://www.brainstormforeducation.com/site/section/field_course/field_course_overview">The Systems that Feed Us</a>.</p>
	
	<p>The students created and completed their own curriculum, applied for academic credits and produced several events about food in their community.</p>
</article>
