<header class="slim">
	<h1>By Hand &amp; Eye</h1>
	<ul class="details">
		<li><em>role</em>Animation and programming</li>
		<li><em>tools</em>Adobe Flash, ActionScript, HTML/CSS</li>
	</ul>
</header>
<article>
	<p>I animated a series of instructional animations to accompany the book, By Hand & Eye, written by Jim Tolpin and George R. Walker and published by Lost Art Press. The animations demonstrate archaic geometry techniques ranging from bisecting an angle to developing semi-elliptical curves using an unmarked compass and straightedge.</p>
	<p>I also wrote a custom player that allowed the user to move back and forth through the animation step by step.</p>
</article>
