<header class="slim">
	<h1>By Hand &amp; Eye</h1>
	<ul class="details">
		<li><em>role</em>Animation and programming</li>
		<li><em>tools</em>Adobe Flash, ActionScript, HTML/CSS</li>
	</ul>
</header>
<article>
	<p>I produced a series of instructional animations to accompany the book, By Hand & Eye, written by Jim Tolpin and George R. Walker and published by Lost Art Press. The 29 animations demonstrate geometry techniques ranging from bisecting an angle to developing semi-elliptical curves using only an unmarked compass and straightedge.</p>
	<p>I also wrote a custom player for the animations that allowed the user to jump between numbered steps which made following along with the animations much easier.</p>
</article>