<header class="slim">
	<h1>Oh My Giraffe</h1>
	<ul class="details">
		<li><em>project</em>Cross-platform mobile game</li>
		<li><em>platforms</em><a class="external" href="https://itunes.apple.com/us/app/oh-my-giraffe/id941920716">iOS</a>, <a class="external" href="https://play.google.com/store/apps/details?id=com.kneeko.giraffe">Android</a>, <a class="external" href="http://www.ohmygiraffe.com/static/releases/oh-my-giraffe(Windows).zip">Windows</a>, <a class="external" href="http://www.ohmygiraffe.com/static/releases/oh-my-giraffe(Mac-OS-X).zip">macOS</a>, Linux</li>
		<li><em>role</em>Design, programming, art, and marketing</li>
		<li><em>tools</em>Lua, Obj-C, Java, HTML/CSS, JavaScript</li>
		<li><em>website</em><a class="external" href="http://www.ohmygiraffe.com">www.ohmygiraffe.com</a></li>
	</ul>
</header>
<article class="no-bot">
	<p>Eat fruits while being chased by lions. You play as an adorable and stretchy giraffe running through the savanna.</p>
</article>
<section>
	<ul class="tiles">
		<li data-title="oh my giraffe">
			<a href="/work/oh-my-giraffe" title="oh my giraffe" data-section="work">
				<div>
					<div class="placeholder"><img src="/cats.gif" alt="oh my giraffe"></div>
					<span>Big scary cats</span>
				</div>
			</a>
		</li>
		<li data-title="promotional site">
			<a href="http://www.ohmygiraffe.com" class="external" title="ohmygiraffe.com" target=_blank>
				<div>
					<div class="placeholder"><img src="/promo.png" alt="radio hyrule"></div>
					<span>Promotional site</span>
				</div>
			</a>
		</li>
	</ul>
</section>
<article>
	<p style="display: none">
	<div class='video-embed'>
		<div class='border'></div>
		<iframe width="640" height="360" src="https://www.youtube.com/embed/xqG994cC1JE?rel=0" frameborder="0" allowfullscreen>
		</iframe>
	</div>
	<p>Oh My Giraffe launched on iOS and Android in addition to a free preview for Windows, macOS and Linux. I was fortunate enough to get mentions on <a href="toucharcade.com/2014/11/25/oh-my-giraffe-high-score-game/" target=_blank>TouchArcade</a>, <a href="http://www.pocketgamer.co.uk/r/iPhone/Oh+my+giraffe/review.asp?c=62761" target=_blank>Pocket Gamer</a>, <a href="http://www.gamezebo.com/2014/11/26/oh-giraffe-adorable-endless-eater/" target=_blank>Gamezebo</a> and later featured Oh My Giraffe in the <a href="http://jobs.humblebundle.com/blog/skullpogo-and-oh-my-giraffe-join-humble-mobile" target=_blank>Humble Mobile Bundle 11</a>.</p>

	<!--
	<p>I began working on oh my giraffe to get programming experience beyond web development. Little did I know that I would find myself absorbed into game design, prototyping, and marketing as well.</p>
	<div class="placeholder"><img src="/necks.png"></div>
	<p>Through the support of some exceptional mentors, I was able to see it through to a fantastic release and was lucky enough to get mentions on TouchArcade, Pocket Gamer and Gamezebo. I released simultaneously for iOS and Android in addition to offering a free preview for Windows, Mac OS X and Linux.</p>
	<div class="placeholder"><img src="/cats.png"></div>
	<p>As well as the game itself, I created a promotional website, video teaser and stills for use on the App Store, Google Play and the Amazon Appstore.</p>
	<div class="placeholder"><img src="/promo.png"></div>
	-->
	
	
</article>

