<header class="slim">
	<h1>Port Townsend Art &amp; Frame</h1>
	<ul class="details">
		<li><em>role</em>Programming and design</li>
		<li><em>tools</em>HTML/CSS</li>
	</ul>
</header>
<article>
	<p>Port Townsend Art &amp; Frame owners Jeff and Nancy needed a website that would convey their frame shop’s local charm and expertise. I worked with them to design a simple front end that met their needs and informed customers about their many services.</p>
	<p>The business has since been sold to new owners, so this project is no longer live.</p>
</article>