<header class="slim">
	<h1>Radio Hyrule</h1>
	<ul class="details">
		<li><em>role</em>Programming and design</li>
		<li><em>tools</em>Cordova, JavaScript, HTML/CSS</li>
	</ul>
</header>
<article>

	<p>I prototyped two front-ends for Nyquist Studio's community web radio station, Radio Hyrule. The first prototype was to evaluate using Cordova to consolidate their mobile apps. The second was a redesign of their desktop site to support mobile and lay the groundwork for future projects. 

</article>
