<header class="slim">
	<h1>Radio Hyrule</h1>
	<ul class="details">
		<li><em>role</em>Programming and design</li>
		<li><em>tools</em>Cordova, JavaScript, HTML/CSS</li>
	</ul>
</header>
<article>
	<p>I built this app for Nyquist Studios. It's a simple radio player for their community web radio station, Radio Hyrule. Users can browse the entire song library to make requests as well as receive a notification when their song is up next.</p>
	<p>Although this release only targeted Android, we opted to use Cordova in order to get a head start on the iOS and web redesign.</p>
</article>