<header class="slim">
	<h1>Theo Prins</h1>
	<ul class="details">
		<li><em>role</em>Programming and design</li>
		<li><em>tools</em>Python, JavaScript, HTML/CSS</li>
	</ul>
</header>
<article>
	<p>I redesigned my brother’s personal site to better accommodate mobile users. An understated and tidy design was the best fit for his striking artwork.</p>
	<p>I also built a minimal back end that enabled a surprisingly powerful pipeline for batch uploading, naming, sizing and ordering his work. For Theo, it eliminated the frustration of having to manually re-upload and reorder many images in order to do fine-tuning.</p>
</article>