<header class="slim">
	<h1>Topsoil</h1>
	<ul class="details">
		<li><em>project</em>Cross-platform mobile game</li>
		<li><em>platforms</em><a class="external" href="https://itunes.apple.com/app/id1104709870">iOS</a>, <a class="external" href="https://play.google.com/store/apps/details?id=com.kneeko.topsoil">Android</a>
		<li><em>role</em>Design, programming, art, and marketing</li>
		<li><em>tools</em>Haxe, C++, Obj-C, Java, HTML/CSS, JavaScript</li>
		<li><em>website</em><a class="external" href="http://www.topsoilgame.com">www.topsoilgame.com</a></li>
	</ul>
</header>
	<!--
<section>
	<ul class="tiles">
		<li data-title="oh my giraffe">
			<a href="/work/oh-my-giraffe" title="oh my giraffe" data-section="work">
				<div>
					<div class="placeholder"><img src="/cats.gif" alt="oh my giraffe"></div>
					<span>Big scary cats</span>
				</div>
			</a>
		</li>
		<li data-title="bring your own book">
			<a href="http://www.ohmygiraffe.com" title="ohmygiraffe.com" target=_blank>
				<div>
					<div class="placeholder"><img src="/promo.png" alt="radio hyrule"></div>
					<span>Promotional site</span>
				</div>
			</a>
		</li>
	</ul>
</section>
	-->
<article>

	<p>Topsoil is an original puzzle game where you grow plants and work your garden's soil.</p>
	<div class='video-embed'>
		<div class='border'></div>
		<iframe width="640" height="360" src="https://www.youtube.com/embed/wjxfQTI0-R4?rel=0" frameborder="0" allowfullscreen>
		</iframe>
	</div>

	<p>Your goal is to harvest as many plants as you can before your garden fills up. Every time you harvest, the soil turns to a new color. It's a straightforward mechanic that leads to thoughtful, strategic play.</p>


</article>


