<header>
	<h1>I’m a designer and developer based in Seattle.</h1>
</header>
<article class="slim">
	<aside>
		<div class="placeholder portrait"><img class="portrait" src="/static/portrait.jpg"></div>
	</aside>
	<section>
		<p>I grew up in the Netherlands and the Pacific Northwest. As a kid, I spent my time crafting things out of paper and gluing popsicle sticks together. Later on, I spent a bunch of time on the computer. As a teenager, I started a lollipop business and sat in cafes doing schoolwork and freelance web, graphics and video projects.</p>
		<p>These days, I make games and websites. I like prototyping in order to gain new insights and challenge stale ones. I try my very best to create reliably pleasant moments in everything I make.</p>
		<p>Recently, I released my first game, oh my giraffe, for iOS and Android. You should check it out! There’s even a free preview for Windows, Mac OS X and Linux.</p>
	</section>
</article>