<header>
	<h1>Six reasons why I drink water<time><i class="fa fa-clock-o"></i><span>Feb 5, 2015</span></time></h1>
</header>
<article>
	<ol>
		<li>It is nice.</li>
		<li>My head hurts when I stop.</li>
		<li>A friend once told me it was useful.</li>
		<li>Last time I stopped was an unproductive week.</li>
		<li>I read a list of things that are good and it had water on it.</li>
		<li>Fish like it too.</li>
	</ol>
</article>

<header>
	<h1>Wildlife deserve our consideration<time><i class="fa fa-clock-o"></i><span>Feb 2, 2015</span></time></h1>
</header>
<article>
	<img src="/static/omg.jpg">
</article>