<img class='portrait large' src="/static/portrait.jpg">
<header class="slim">
	<h1>Want to work together?</h1>
</header>
<article class="slim">
	<!--<p>I offer consultation for interaction design, prototyping and polishing microinteractions. Get in touch to discuss your project.</p>-->
	<!--<p>I offer consultation as a technical designer. I can collaborate with your team or work independently to prototype or polish the highest frequency parts of your project. Get in touch to discuss your project.</p>-->


	<p>I offer consultation for interaction design and implementation. As a technical designer, I can collaborate directly with your team or work independently to make the core interactions in your project delightful and robust. Get in touch below to discuss your project.
	<table>
		<tr>
			<td>email</td>
			<td><a href="mailto:nico@nicoprins.com" class="external" target="_blank">nico@nicoprins.com</a></td>
		</tr>
		<tr>
			<td>twitter</td>
			<td><a href="//twitter.com/niseao" class="external" target="_blank">@niseao</a></td>
		</tr>
	</table>
</article>

