<img class='portrait large' src="/static/portrait.jpg">
<header class="slim">
	<h1>Want to work together?</h1>
</header>
<article class="slim">
	<p>I can design, implement and polish the core interactions in your project. My cross-discipline fluency will allow me to collaborate directly with your team or work independently. Get in touch to discuss your project!
	</p>
	<table>
		<tr>
			<td>email</td>
			<td><a href="mailto:nico@nicoprins.com" class="external" target="_blank">nico@nicoprins.com</a></td>
		</tr>
		<tr>
			<td>twitter</td>
			<td><a href="//twitter.com/kneeko" class="external" target="_blank">@kneeko</a></td>
		</tr>
	</table>
</article>

