<header class="slim">
	<h1>Want to work together?</h1>
</header>
<article class="slim">
	<p>Drop me a note! I'm interested in commissions and collaborations alike.</p>
	<h4>
		email
		<ul>
			<li><a href="mailto:nico@nicoprins.com" class="external" target="_blank">nico@nicoprins.com</a></li>
		</ul>
	</h4>
	<h4>
		find me on
		<ul>
			<li><a href="//twitter.com/niseao" class="external" target="_blank">twitter</a></li>
			<li><a href="//github.com/kneeko" class="external" target="_blank">github</a></li>
		</ul>
	</h4>
</article>