<header class="slim">
	<h1>oh my giraffe</h1>
	<ul class="details">
		<li><em>role</em>developer and designer</li>
		<li><em>tools</em>Lua, Obj-C, Java, HTML/CSS, JavaScript</li>
	</ul>
</header>
<article>
	<p>I began working on oh my giraffe to get programming experience beyond web development. Little did I know that I would find myself absorbed into game design, prototyping, and marketing as well.</p>

	<p>Through the support of some exceptional mentors, I was able to see it through to a fantastic release and was lucky enough to get mentions on TouchArcade, Pocket Gamer, Gamezebo and others. I released simultaneously for iOS and Android in addition to offering a free preview for Windows, Mac OS X and Linux.</p>
	<p>As well as the game itself, I created a promotional website, video teaser and stills for use on the App Store, Google Play and the Amazon Appstore.</p>
</article>