<header class="hero clear">
	<img class='portrait' src="/static/portrait.jpg">
	<h1>Games, websites and mobile apps made by <a href="/consulting" data-section="consulting" class="name">Nico Prins</a>.</h1>
	<br>
	<!--<p>I'm a designer/programmer based in Seattle. I make independent games and offer <a href='/contact' data-section='contact'>consultation</a> for interaction design, prototyping and polish.</p>-->
	<p>I'm a designer/programmer based in Seattle. I make independent games and offer <a href='/consulting' data-section='consulting'>consultation</a> for designing and implementing delightful and robust interactions.</p>
</header>
<hr class="line">
<section>
	<ul class="tiles">
		<li data-title="topsoil">
			<a href="/work/topsoil" title="topsoil" data-section="work">
				<div>
					<div class="placeholder"><img src="/static/topsoil.jpg" alt="topsoil"></div>
					<span>Topsoil</span>
				</div>
			</a>
		</li>
		<li data-title="oh my giraffe">
			<a href="/work/oh-my-giraffe" title="oh my giraffe" data-section="work">
				<div>
					<!--<div class="placeholder"><img src="/static/omg.jpg" alt="oh my giraffe"></div>-->
					<div class="placeholder"><img src="/cats.gif" alt="oh my giraffe"></div>
					<span>Oh My Giraffe</span>
				</div>
			</a>
		</li>
		<li data-title="bring your own book">
			<a href="/work/bring-your-own-book" title="bring your own book" data-section="work">
				<div>
					<div class="placeholder"><img src="/static/byob.jpg" alt="radio hyrule"></div>
					<span>Bring Your Own Book</span>
				</div>
			</a>
		</li>
		<!--
		<li data-title="radio hyrule">
			<a href="/work/radio-hyrule" title="oh my giraffe" data-section="work">
				<div>
					<div class="placeholder"><img src="/static/hyrule.jpg" alt="radio hyrule"></div>
					<span>Radio Hyrule</span>
				</div>
			</a>
		</li>
		<li data-title="theo prins">
			<a href="/work/theo-prins" title="oh my giraffe" data-section="work">
				<div>
					<div class="placeholder"><img src="/static/theo.jpg" alt="theo prins"></div>
					<span>Theo Prins</span>
				</div>
			</a>
		</li>
		<li data-title="brainstorm">
			<a href="/work/brainstorm" title="oh my giraffe" data-section="work">
				<div>
					<div class="placeholder"><img src="/static/brain.jpg" alt="brainstorm for education"></div>
					<span>BrainStorm</span>
				</div>
			</a>
		</li>
		<li data-title="oh my giraffe">
			<a href="/work/by-hand-and-eye" title="oh my giraffe" data-section="work">
				<div>
					<div class="placeholder"><img src="/static/hand.jpg" alt="by hand and eye"></div>
					<span>By Hand &amp; Eye</span>
				</div>
			</a>
		</li>
		-->
	</ul>
</section>
