<header class="hero"><h1>Games, websites and mobile apps made by <a href="/about" data-section="about">Nico Prins</a>.</h1></header>
<section>
	<ul class="tiles">
		<li data-title="oh my giraffe">
			<a href="/work/oh-my-giraffe" title="oh my giraffe" data-section="work">
				<div>
					<div class="placeholder"><img src="/static/omg.jpg" alt="oh my giraffe"></div>
					<span>oh my giraffe</span>
				</div>
			</a>
		</li>
		<li data-title="radio hyrule">
			<a href="/work/radio-hyrule" title="oh my giraffe" data-section="work">
				<div>
					<div class="placeholder"><img src="/static/hyrule.jpg" alt="radio hyrule"></div>
					<span>Radio Hyrule</span>
				</div>
			</a>
		</li>
		<li data-title="theo prins">
			<a href="/work/theo-prins" title="oh my giraffe" data-section="work">
				<div>
					<div class="placeholder"><img src="/static/theo.jpg" alt="theo prins"></div>
					<span>Theo Prins</span>
				</div>
			</a>
		</li>
		<li data-title="pt art and frame">
			<a href="/work/pt-art-and-frame" title="oh my giraffe" data-section="work">
				<div>
					<div class="placeholder"><img src="/static/frame.jpg" alt="pt art and frame"></div>
					<span>PT Art &amp; Frame</span>
				</div>
			</a>
		</li>
		<li data-title="oh my giraffe">
			<a href="/work/brainstorm" title="oh my giraffe" data-section="work">
				<div>
					<div class="placeholder"><img src="/static/brain.jpg" alt="brainstorm for education"></div>
					<span>BrainStorm</span>
				</div>
			</a>
		</li>
		<li data-title="oh my giraffe">
			<a href="/work/by-hand-and-eye" title="oh my giraffe" data-section="work">
				<div>
					<div class="placeholder"><img src="/static/hand.jpg" alt="by hand and eye"></div>
					<span>By Hand &amp; Eye</span>
				</div>
			</a>
		</li>
	</ul>
</section>